@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">About This Site</h1>
</div>
<p>This site is an example of how to write and ASP.NET MVC web
    site. Written by Brian Bird.
</p>
<h2>Menu</h2>
<ul>
    <li><a href="About/Links">Links to sites about books</a></li>
    <li><a href="Home/Privacy">Privacy</a></li>
    @* TODO: I wil move this page to the About controller later
        and take it off the Home controller.
    *@
</ul>
