@{
    ViewData["Title"] = "Reviews Page";
}

<div class="text-center">
    <h1 class="display-4">Reviews on this Site</h1>
</div>
<p>
    Coming soon!
</p>
<a href="Reviews/Review">Write a Review</a>