@model Review
@{
    ViewData["Title"] = "Review";
}

<form method="post" class="container">
    <div class="m-1 row">
        <label for="title" class="col-md-1">Title</label>
        <input id="title" name="Book.Title" class="col-md-9"/>
    </div>

    <div class="m-1 row">
        <label for="author" class="col-md-1">Author</label>
        <input id="author" name="Book.Author" class="col-md-9"/>
    </div>

    <div class="m-1 row">
        <label for="reviewer" class="col-md-1">Reviewer</label>
        <input id="reviewer" name="Reviewer.Name" class="col-md-9"/>
    </div>

    <div class="m-1 row">
        <label for="text" class="col-md-1">Review</label>
        <textarea id="text" name="ReviewText" class="col-md-9"></textarea>
    </div>
    
    <div class="m-1 row justify-content-end">
        <button type="submit" class="btn btn-primary col-md-2">Submit</button>
        <div class="col-md-2"></div> @* spaceer to push the button over *@
    </div>
</form>


