@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Book Review Site</h1>
</div>

<h2>Menu</h2>
<ul>
    <li><a href="Home/Recommended">Recommened Books</a></li>
    <li><a href="Home/Privacy">Privacy</a></li>
</ul>
